* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 80vh;
  max-height: 100%;
}

.heart-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  flex-grow: 0.5;
  height: 4px;
  background-color: black;
  width: 20px;
}

.heart-icon {
  color: red;
  margin: 0 10px;
}

.gallery-item img {
  object-fit: contain;
}

.about_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(326px, 1fr));
  justify-content: center;
  margin: 10px auto 20px auto;
  gap: 4px;
  padding: 0 24px;
  background-color:#EDF5F7;

}

.about_me h3 {
  text-align: center;
  padding: 12px;
}
.about_container p {
  text-align: center;
  padding: 6px 24px;
}

.media_icon {
  display: flex;
  flex-direction: row;
  margin: 12px auto;
  width: 220px;
  justify-content: space-between;
}

.about_image img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.about_me {
  background: #edf5f7;
  /* height: 400px; */
}

.down {
  padding-bottom: 10px;
}
 .meetImage  {
  display: flex;
  align-items: center;
  
} 


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 3fr));
  justify-content: center;
  align-self: auto;
  align-content: center;
  column-gap: 2%;
  row-gap: 32px;
  width: 85%;
  margin: 0 auto;
}
.articleBox {
  border: 2px solid #d0d9d4;
  width: 100%;
  height: 575px;
  border-radius: 8px;
  background-color: #ebf0ee;
  box-shadow:
    0 5px 12px rgba(5, 50, 200, 0.5),
    0 5px 12px rgba(5, 50, 200, 0.5);
}

.recentImage {
  height: 390px;
  border-radius: 8px;
  border-bottom: 3px solid green;
}

img.articlePic {
  height: 380px;
  width: 90%;
  border-radius: 12px;
  margin: 12px auto;
  display: block;
}

.button-box {
  display: flex;
  justify-content: center;
}

.li-technology p {
  font-size: 12px;
  text-align: center;
}

.articleBox p {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  padding-top: 12px;
  color: #36b37f;
  margin-left: 2%;
}


.see-more {
  background-color: green;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  width: 120px;
  font-size: 17px;
  border: none;
  margin-top: 3px;
  text-align: center;
}



.modal-anchor {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

.modal-href {
  background-color: #36b37f;
  padding: 12px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}

.modal-href-pic {
  margin-left: 4px;
}

.modalContainer {
  display: block;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 400px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
}

.modal-box {
  border: 1px solid green;
  background-color: #fff;
  padding: 5px 20px;
  margin: 50px auto;
  width: 80%;
  height: 400px;
  justify-content: center;
  border-radius: 16px;
  
  box-shadow:
    0 5px 12px rgba(5, 50, 200, 0.5),
    0 5px 12px rgba(5, 50, 200, 0.5);
}

.desktopPic {
  display: block;
}

.modal-img img {
  top: 0;
  width: 100%;
  margin: 0;
  margin-top: 12px;
}

.modal-h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 34px;
  color: #172b4d;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  text-align: left;
}

.modal ul {
  display: flex;
  margin-top: 24px;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  flex-wrap: wrap;
  border: none;
  padding: 0;
  margin-bottom: 24px;
  width: 100%;
}

#recentCard ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}

.modal li a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: #3a4a42;
  background-color: #ebf0ee;
  padding: 8px 12px 8px 12px;
  border: none;
  border-radius: 8px;
  width: auto;
  list-style-type: none;
  font-weight: 600;
  font-size: 12px;
}

.modal-p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #344563;
}

.close {
  float: right;
  position: absolute;
  z-index: 3;
  width: 29px;
  margin-left: 75%;
  margin-top: 36px;
}

.modal-anchor2 {
  display: none;
}

@media (min-width: 768px) {

  
  .carousel-item img {
    height: 100vh; 
  }
  .about_image img {
    object-fit: contain;
  }
  .down {
    padding-bottom: 3%;
  }

  .about_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 890px) {
  .down {
    padding-bottom: 9%;
  }

}
@media (min-width: 1080px) {
  .down {
    padding-bottom: 12%;
  }

}